#root {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  text-align: center;
}

[contenteditable] {
  outline: 0px solid transparent;
}

button:focus,
button:focus-visible {
  outline: none;
}
.Mui-focusVisible {
  outline: none;
}
